<!DOCTYPE HTML>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
    <h1>You just got a new badge from <%= @user.name %></h1>
    <p>
      Sign in and check it out, see attachment for your badge.
    </p>
  </body>
</html>